[DEVICE-1]
DEVICE = 'DEVICE-1'
CONFIGURATION_FILENAME = 'device-1.conf.example'
TAG = 'device-1'
OUTPUT_VLAN_FILENAME = 'device-1_vlan_output.json.example'

[DEVICE-2]
DEVICE = 'DEVICE-2'
CONFIGURATION_FILENAME = 'device-2.conf.example'
TAG = 'device-2'
OUTPUT_VLAN_FILENAME = 'device-2_vlan_output.json.example'
